<div class="page-content">
	<div class="contact-header">
		
	</div>
	<div class="list-block">
		<div class="list-group">
			<ul>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-title">Uninyunyizie</div>
						</div>
					</li>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-title">1. Uninyunyizie maji Bwana, x2 <br>
							(unioshe nitakase, <br>
							niwe mweupe kabisa). x2
							<br><br>
							2. Natamani nije kwako, 
							Bwana. x2 <br>
							(unioshe nitakase, <br>
							niwe mweupe kabisa). x2<br><br>
							3. Mimi ni mwenye dhambi, 
							Bwana. x2 <br>
							(unioshe nitakase, <br>
							niwe mweupe kabisa). x2
							</div>
						</div>
					</li>
			</ul>
		</div>
	</div>
</div>



